{{extend 'layout.html'}}

<div class = "header">
    <div class ="title">Game of the Year
    </br>2015
    </div>
    {{if auth.user_id is None:}}
    <h2>
        {{=A('Sign Up', _class='btn btn-success btn-lg', _href=URL('default', 'user', args=['register']))}}
        &nbsp
        {{=A('Sign In', _class='btn btn-success btn-lg', _href=URL('default', 'user', args=['login']))}}
    </h2>
    {{else:}}
    <h2>
        {{=A('Logout', _class='btn btn-danger btn-lg', _href=URL('default', 'user', args=['logout']))}}
    </h2>
    {{pass}}
</div>

<div id="target"></div>

<script id="template" type="text/ractive">

<h1>Categories</h1>

{{if auth.user_id is not None:}}
<div class ="newBoPo">
        <button class="btn btn-primary btn-lg" on-click="new-cat">Create a New Category</button>
</div>
{{pass}}
{% draft_id %}

<div class="categoriesList">
    {% #cat_dict:cat_id %}
         <div class="catDivList">
           {% #if is_editing === false %}
                {% cat_name %}
                | Current Front Runner
                | Number of Votes
                | Number of Discs
                <button class="btn btn-success" data-catid="{% cat_id %}" on-click="startedit">Edit</button>
                <button class="btn btn-warning" data-catid="{% cat_id %}" on-click="delete-cat">Delete</button>
           {% else %}
                <textarea rows="1" cols="50" id="editarea" data-catid="{% cat_id %}" on-blur="editdone" data-areaid="{% cat_id %}" value="{% cat_name %}">
                </textarea>
           {% /if %}
         </div>
    {% /cat_dict %}
</div>
</script>

<script>
$(function() {
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      draft_id: "{{=draft_id}}",
      user_id: "{{=user_id}}",
      active_cat_name: "",
      active_cat_id: "",
      cat_dict: {}
    },
  });

  // Loads the categories to display
  $.ajax("{{=URL('default', 'load_cats')}}",
          {
            method: 'POST',
            success: function (data) {
              MAIN.set('cat_dict', data['cat_dict']);
            }
          }
  );

  // Called to update display of boards
  function update() {
    $.ajax("{{=URL('default', 'load_cats')}}",
          {
            method: 'POST',
            success: function (data) {
              MAIN.set('cat_dict', data['cat_dict']);
            }
          }
    );
  }

  //Creates new, empty category
  MAIN.on("new-cat", function(e) {
     var x = MAIN.get('draft_id');
     send_message('', x, false, true);
     MAIN.set('draft_id', generateUUID());
     $("#editarea").focus();
  });

   function send_message(cat_content, cat_id, is_draft, is_editing) {
    $.ajax("{{=URL('default', 'add_cat', user_signature=True)}}",
            {
              data: {
                cat: cat_content, // request.vars.cat
                is_draft: is_draft, // request.vars.is_draft
                cat_id: cat_id, // request.vars.cat_id
                is_editing: is_editing
              },
              method: 'POST',
              success: function() {
                // Reflect in the list of drafts or messages the update sent to the server.
                var cat_dict = MAIN.get('cat_dict');
                if (cat_id in cat_dict) {
                  // We have sent to the server a message/draft we have already in the dict.
                  cat_dict[cat_id]['cat_name'] = cat_content;
                  cat_dict[cat_id]['is_editing'] = false;
                } else {
                  // This is a new message or draft.  We have to create a new entry in the dict.
                  cat_dict[cat_id] = {
                    cat_name: cat_content
                  }
                }
                MAIN.set('cat_dict', cat_dict);
              },
              error: function() {}
            }
    );
  }

  MAIN.on("startedit", function(e) {
    var t = $(e.original.target);
    var clicked_id = t.data('catid');
    var cat_dict = MAIN.get('cat_dict');
    //set is_editing to true
     $.ajax("{{=URL('default', 'edit_cat', user_signature=True)}}",
            {
              data: {
                cat_id: clicked_id, // request.vars.cat_id
                is_editing: true
              },
              method: 'POST',
              success: function() {
              // Change the selected board to editing
              var cat_dict = MAIN.get('cat_dict');
              cat_dict[clicked_id]['is_editing'] = true;
              MAIN.set('cat_dict', cat_dict);
              },
              error: function() {}
            }
     );
    $("#editarea").focus();
    MAIN.set('draft_id', clicked_id);
  });

  MAIN.on("editdone", function(e) {
    var t = $(e.original.target);
    var clicked_id = t.data('catid');
    var cat_dict = MAIN.get('cat_dict');
    cat_dict[clicked_id]['is_editing'] = false;
    var cat_content = cat_dict[clicked_id]['cat_name'];
    send_message(cat_content, clicked_id, false, false);
    MAIN.set('draft_id', generateUUID());
    update();
  });

  //Deletes the selected board
  MAIN.on("delete-cat", function(e) {
     var t = $(e.original.target);
     var clicked_id = t.data('catid');
     $.ajax("{{=URL('default', 'delete_cat', user_signature=True)}}",
          {
          data: {
                cat_id: clicked_id // request.vars.msg_id
              },
            method: 'DELETE',
            success: function (result) {
                // Reflect in the list of drafts or messages the update sent to the server.
                var cat_dict = MAIN.get('cat_dict');
                MAIN.set('cat_dict', cat_dict);
                update();
            }
          }
     );
  });

  MAIN.on("makeactive", function(e) {
    var t = $(e.original.target);
    var clicked_id = t.data('catid');
    var cat_dict = MAIN.get('cat_dict');
    var cat_content = cat_dict[clicked_id]['cat_name'];
    MAIN.set('active_cat_id', clicked_id);
    MAIN.set('active_cat_name', cat_content);
    update();
  });


  // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

});
</script>