{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
  {% #if editing %}
  <textarea id="editarea" on-blur="editdone" data-areaid="3" value="{% mytext %}">
  </textarea>
  {% else %}
  <div on-click="startedit"><p>{% mytext %}</p></div>
  {% /if %}
</script>

<script>
$(function() {
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      mytext: "Initial text",
      editing: false
    },
  });

  MAIN.on("startedit", function() {
    MAIN.set("editing", true);
    $("#editarea").focus();
  });

  MAIN.on("editdone", function(e) {
    MAIN.set("editing", false);
    var myval = MAIN.get("mytext");
    var areaid = $(e.node).data("areaid");
    alert(myval + " " + areaid);
  })

});
</script>