/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.title {
  color: #000000;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6194BC;
  padding: 0.5em;
  margin: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  display: inline-block;
  border: 0.5em ridge #E4001B;
}

/* line 21, ../sass/_main.scss */
h1 {
  margin: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  background-color: #D1D1D1;
  width: 20em;
  height: 2.5em;
  vertical-align: top;
  display: inline-block;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}

/* line 35, ../sass/_main.scss */
h2 {
  margin: 0em;
  margin-right: 2em;
  text-align: right;
}

/* line 41, ../sass/_main.scss */
.header {
  padding-top: 1.5;
  background-color: #D1D1D1;
  padding-bottom: 1.2em;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
}

/* line 48, ../sass/_main.scss */
.catDiv {
  font-size: 1.5em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  background-color: #D1D1D1;
  width: 40em;
  height: 3.5em;
  vertical-align: top;
  display: inline-block;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}

/* line 64, ../sass/_main.scss */
.discDiv {
  font-size: 1.5em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  background-color: #D1D1D1;
  width: 40em;
  height: 3.5em;
  vertical-align: bottom;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}

/* line 79, ../sass/_main.scss */
.catDivList {
  font-size: 1.5em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: #D1D1D1;
  width: 55em;
  height: 6em;
  vertical-align: top;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}
/* line 91, ../sass/_main.scss */
.catDivList #bold {
  font-weight: bold;
}
/* line 94, ../sass/_main.scss */
.catDivList #fancy {
  font-style: italic;
}

/* line 99, ../sass/_main.scss */
.catDivTitle {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 104, ../sass/_main.scss */
.discList {
  font-size: 1.5em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: #D1D1D1;
  width: 82em;
  height: 4em;
  text-align: center;
  vertical-align: top;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}

/* line 119, ../sass/_main.scss */
.gameDiv {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding: 0em;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #D1D1D1;
  width: 11em;
  height: 16em;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  border: 0.2em outset #E4001B;
}
/* line 137, ../sass/_main.scss */
.gameDiv #normal {
  font-style: normal;
}

/* line 142, ../sass/_main.scss */
hr {
  color: #FF0000;
  border-style: solid;
  border-width: 0.2em;
}

/* line 148, ../sass/_main.scss */
.categories {
  margin: 1em;
  padding: 2em;
  background-color: #6194BC;
  float: right;
  width: 65em;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
}
/* line 155, ../sass/_main.scss */
.categories #center {
  text-align: center;
}

/* line 160, ../sass/_main.scss */
.moreCats {
  font-size: 1.5em;
  text-align: center;
}

/* line 165, ../sass/_main.scss */
.categoriesList {
  margin: 2em;
  padding: 2em;
  background-color: #6194BC;
  float: center;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
}

/* line 174, ../sass/_main.scss */
.graphs {
  width: 60em;
  height: 30em;
  margin: 2em;
  margin-top: 1em;
  margin-right: 0em;
  padding: 2em;
  background-color: #6194BC;
  float: left;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
}

/* line 186, ../sass/_main.scss */
.left {
  display: inline-block;
  float: left;
  width: 12em;
}

/* line 192, ../sass/_main.scss */
.center {
  display: inline-block;
  float: left;
  width: 12em;
}

/* line 198, ../sass/_main.scss */
.right {
  display: inline-block;
  float: left;
  width: 10em;
}

/* line 204, ../sass/_main.scss */
.left_column {
  fill: #FFFF00;
}

/* line 208, ../sass/_main.scss */
.center_column {
  fill: #00CC00;
}

/* line 212, ../sass/_main.scss */
.right_column {
  fill: #FF8000;
}

/* line 216, ../sass/_main.scss */
rect {
  stroke: #000000;
}

/* line 220, ../sass/_main.scss */
.discussions {
  margin: 0.5em;
  margin-top: 0em;
  margin-left: 1.8em;
  padding: 1em;
  background-color: #D1D1D1;
  vertical-align: top;
  display: inline-block;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 4px 10px 2px;
}

/* line 231, ../sass/_main.scss */
body {
  background-color: #000000;
}
